@charset "utf-8";
/* CSS Document */
/* Base Layout -----------------------------------------------------------------------------------------------*/
.bg_all{
	
}
#layout {
	position:relative;
	width:950px;
	top:10px;
	min-height:600px;
	margin:auto;
}
#body{
	position:relative;
	width:950px;
	min-height:600px;
	margin:auto;
	padding:8px;
	background: rgba(255, 255, 255, 0.9);
}
#header{
	position:relative;
	width:930px;
	height:130px;
	margin:auto;
	padding:10px;
	border:1px #777777 solid;
	margin-bottom:8px;
}
#logo{
	width:300px;
	height:100px;
	font-size:24px;
	font-weight:bold;
}
#search{
	position:absolute;
	width:550px;
	height:100px;
	left:380px;
	top:30px;
}

#menus{
	position:relative;
	width:950px;
	height:38px;
	background:#770000;
	background: -webkit-gradient(linear, left top, left bottom, from(#009900), to(#006600));
	background: -moz-linear-gradient(top, #00aaff, #06F);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#006600'); /* CSS gradient ie7 */ 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#006600'); /* CSS gradient ie8 */
}
#content{
	border:1px solid #999;
	width:940px;
	min-height:600px;
	margin:auto;
	margin-top:10px;
}
#content-left{
	width:180px;
	min-height:600px;
	padding:5px;
	border-right:1px #DDD solid
}
#content-center{
	width:530px;
	min-height:600px;
	padding:5px;
}
#content-right{
	width:180px;
	padding:5px;
	min-height:600px;
	border-left:1px #DDD solid;
}

#footer{
	position:relative;
	width:880px;
	padding:10px;
	margin:auto;
}
.field {
	background: #ffffff;
	padding: 6px 6px 6px 8px;
	height:25px;
	border:solid 1px #ffffff;
	outline: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	-webkit-border-radius: 8px; /* rounded corner */
	-moz-border-radius: 8px; /* rounded corner */
	border-radius: 8px; /* rounded corner */
	-moz-box-shadow:0 0 6px 6px #5aff00; /* CSS shadow */
	-webkit-box-shadow:0 0 6px 6px #5aff00; /* CSS shadow */
	box-shadow:0 0 8px 2px #5aff00; /* CSS shadow */
}
.field:hover{
	box-shadow:0 0 8px 6px #5aff00; /* CSS shadow */
}
.field:focus{
	box-shadow:0 0 8px 6px #5aff00; /* CSS shadow */
}
.field-1 {
	background: #ffffff;
	padding: 4px;
	margin-bottom:8px;
	border:solid 1px #ffffff;
	outline: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	-webkit-border-radius: 4px; /* rounded corner */
	-moz-border-radius: 4px; /* rounded corner */
	border-radius: 4px; /* rounded corner */
	-moz-box-shadow:0 1px 2px 2px #CCC; /* CSS shadow */
	-webkit-box-shadow:0 1px 2px 2px #CCC; /* CSS shadow */
	box-shadow:0 1px 2px 2px #CCC; /* CSS shadow */
}
.field-1:hover{
	background:#FFC;
}
.field-1:focus{
	background:#FF6;
}
.field-login {
	background: #ffffff;
	padding: 6px 6px 6px 8px;
	border:solid 1px #CCC;
	outline: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	-webkit-border-radius: 5px; /* rounded corner */
	-moz-border-radius: 5px; /* rounded corner */
	border-radius: 5px; /* rounded corner */
	-moz-box-shadow:0 0 6px 6px #ffffff; /* CSS shadow */
	-webkit-box-shadow:0 0 6px 6px #ffffff; /* CSS shadow */
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
	margin-bottom:5px;
}

.field-login:hover{
	background:#CF9;
}
.field-login:focus{
	background:#CF0;
}
.button {
	color: #444;
	border: solid 1px #AAA;
	font-size: 13px;
	min-width:50px;
	height:35px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
	text-shadow: 0 1px 1px #EEE; /* CSS text shadow */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #009900;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD)); /* CSS gradient */
	background: -moz-linear-gradient(top, #EEE, #DDD); /* CSS gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie7 */ 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie8 */
}
.button-1 {
	color: #444;
	border: solid 1px #AAA;
	font-size: 13px;
	min-width:50px;
	height:35px;
	padding:5px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
	text-shadow: 0 1px 1px #EEE; /* CSS text shadow */
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #009900;
	margin-right:5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD)); /* CSS gradient */
	background: -moz-linear-gradient(top, #EEE, #DDD); /* CSS gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie7 */ 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie8 */
}
.button-2 {
	color: #444;
	border: solid 1px #AAA;
	font-size: 13px;
	min-width:50px;
	height:45px;
	padding:8px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
	text-shadow: 0 1px 1px #EEE; /* CSS text shadow */
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #009900;
	margin-right:5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD)); /* CSS gradient */
	background: -moz-linear-gradient(top, #EEE, #DDD); /* CSS gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie7 */ 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#DDD'); /* CSS gradient ie8 */
}
/* fonts -----------------------------------------------------------------------------------------------*/
.all{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.font-i{
	font-style:italic;
	color:#E00;
}
.font-i-1{
	font-style:italic;
	color:#444;
	font-size:10px;
}
.font-s{
	color:#555;
	font-size:10px;
}
.font-white{
	color:#fff;
	font-size:13px;
	font-weight: bold;
}
/* element ----------------------------------------------------------------------------------------------*/
a{
	text-decoration:none;
	color:#000000;
}
a:hover{
	color:#990000;
}
hr{
	border: 1px dotted #BBB;
}
/* sidebar -----------------------------------------------------------------------------------------------*/
#sidebar{
	background:#ffffff;
	-moz-border-radius:5px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
	border:1px #CCC solid;
	margin-bottom:7px;
	padding:5px;
}
#sidebar-judul{
	font-family:Arial, Helvetica, sans-serif;
	padding:8px;
	margin-top:2px;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	text-shadow: 0 1px 1px #222222; /* CSS text shadow */
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#BB0000)); /* CSS gradient */
	background: -moz-linear-gradient(top, #444, #000); /* CSS gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#BB0000'); /* CSS gradient ie7 */ 
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#BB0000'); /* CSS gradient ie8 */
	/*box-shadow:0 1px 5px #000; /* CSS shadow */
	margin-bottom:10px;
	-moz-border-radius:4px 4px 0 0;
}
#menu-list{
	margin-top:-8px;
	margin-left:-15px;
	padding:4px;
}
#menu-list ul li{
	font-size:14px;
	list-style-image:url(../images/icon_label.png);
	line-height:inherit;
	list-style-position:outside;
}
#menu-image{
	margin-top:10px;
	background:#ffffff;
	-moz-border-radius:5px;
	padding:4px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
}
#h-content{
	display:block;
	padding:5px;
	margin-bottom:5px;
	font-style:italic;
	font-size:18px;
	border-bottom:1px dashed #BBB;
}
#box-e{
	border:1px #F00 solid;
	-moz-border-radius:5px;
	background:#FFC;
	padding:5px;
	color:#F00;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */	
}
#box-w{
	border:1px #F90 solid;
	-moz-border-radius:5px;
	background:#FFC;
	padding:5px;
	color:#F93;	
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
}
#box-s{
	border:1px #090 solid;
	-moz-border-radius:5px;
	background:#CFC;
	padding:5px;
	color:#030;	
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
}
#produk-list{
	width:auto;
	height:175px;
	border:1px solid #777;
	margin-top:0px;
	page:auto;
	padding:5px;
	margin-right:5px;
	margin-bottom:5px;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
}
#produk-list-desc{
	position:absolute;
	margin-top:0px;
	top:0px;
	width:auto;
	height:175px;
	border:1px solid #777;
	page:auto;
	padding:5px;
}
#produk-grid{
	width:156px;;
	height:215px;
	display:inline-table;
	border:1px solid #777;
	margin-top:0px;
	page:auto;
	padding:5px;
	margin-right:2px;
	margin-bottom:6px;
	vertical-align:middle;
	box-shadow:0 1px 2px #ccc; /* CSS shadow */
}
#produk-stok{
	position:inherit;
	width:150px;
	min-height:170px;
	border:1px solid #777;
	-moz-border-radius=3px;
	-webkit-border-radius=3px;
	background:#BBB;
}
#produk-stok-detail{
	position:inherit;
	width:250px;
	height:270px;
	border:1px solid #777;
	-moz-border-radius=3px;
	-webkit-border-radius=3px;
	background:#BBB;
}
#table{
	border-collapse:collapse;
}

#table thead tr {
	background: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#bab5b5)); /* CSS gradient */	
	background: -moz-linear-gradient(top, #bab5b5, #353535); /* CSS gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#bab5b5'); /* CSS gradient ie7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#bab5b5'); /* CSS gradient ie8 */
}

#table thead tr td {
	padding:5px;
}
#table thead tr td div{
	color:#FFF;
}
#table tbody tr td{
	padding:5px;
}